<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="error.css" />
    <link rel="shortcut icon" type="image/png" href="icons/error.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Invalid</title>
  </head>
  <body>
    <div>
      <img src="icons/error.png" alt="Error Image" width="100vh" />
      <h1 class="invalid">Invalid QR Code</h1>
    </div>
    <div>
      <h1>Oops!</h1>
      <h2>404</h2>
      <p>Page not Found</p>
      <p>
        The <strong>QR Code</strong> you requested was not found on this server.
      </p>
    </div>
    <div>
      <form action="/" method="GET">
        <button type="submit">Try Again</button>
      </form>
    </div>
    <script>
      const currentTheme = localStorage.getItem("theme")
        ? localStorage.getItem("theme")
        : null;

      if (currentTheme) {
        document.documentElement.setAttribute("data-theme", currentTheme);
      }
    </script>
  </body>
</html>
