<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pwa/index.css" />
    <title>Infinity Remote</title>
    <meta name="theme-color" content="#4dbaa8" />
    <link rel="manifest" href="pwa/manifest.json" />
    <link rel="apple-touch-icon" href="icons/icon512.svg" />
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("pwa/sw.js");
      }
    </script>
  </head>
  <body>
    <div id="container">
      <h2 id="title">Infinity Remote</h2>
      <p id="inst"> Click on the extension icon and scan the <strong>QR-Code</strong>.</p>

       <a id="btn-scan-qr"></a> 

    </div>
    <canvas id="qr-canvas"></canvas>
    <form action="/connecting" method="POST" hidden=""> <!--Location of /mainpage-->
      <input type="text" name="room">
    </form>
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    <script src="pwa/index.js"></script>
  </body>
</html>
