<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Control Youtube on your Desktop remotely from your mobile using this Progressive Web App integrated with a Chrome Extension"
    />
    <meta
      name="keywords"
      content="Infinity Remote, Infinity Remote Extension, Remote Youtube control, Youtube control"
    />
    <meta name="robots" content="INDEX, FOLLOW" />
    <link rel="stylesheet" href="./public/welcome.css" />
    <link rel="shortcut icon" type="image/svg" href="./public/icons/icon.svg" />
    <title>Infinity Remote</title>
    <link rel="manifest" href="./manifest.json" />
    <link rel="apple-touch-icon" href="./public/icons/icon512.svg" />
    <link rel="apple-mobile-web-app-status-bar" content="#4dbaa8" />
  </head>
  <body>
    <div class="center">
      <img src="./public/icons/icon.svg" alt="Infinity Remote" />
      <br>
      <progress value="0" max="100"></progress>
    </div>
    <div class="footer">
      <p>
        Infinity Remote
        <br />
        This Web App is part of
        <br />
        Chrome Extension - Infinity Remote
      </p>
    </div>
    <div>
      <form action="/qr-scanner" method="GET">
        <button type="submit"></button>
      </form>
    </div>
    <script src="./public/welcome.js"></script>
  </body>
</html>
