<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="welcome.css" />
    <link rel="shortcut icon" type="image/png" href="icon.png">
    <title>Infinity Remote</title>
</head>
<body>
    <div><img src="icon.png" alt="Infinity Remote"></div>
    <div><progress value="0" max="100"> 32% </progress></div>
    <div><p>Infinity Remote</p></div>
    <div>
        <form action="/qr-scanner" method="GET">
            <button type="submit">Try Again</button>
        </form>
    </div>
    <script src="welcome.js"></script>
</body>
</html>